* {
    box-sizing: border-box;
}

body {
    background:#efefef;
    color: #2d303a;
}

.container {
    margin: 5px;
}

nav {
    background-color: #00ccff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav h1 {
    font-size: 2.5em;
}


.sortable-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media(max-width: 1000px) {
    .sortable-conatiner {
       display: none;
    }
}
